@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(/assets/roboto.ttf) format("truetype");
}

body {
	margin-right: 200px;
	font: 400 16px/1.5 Roboto, Arial, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	margin-top: 0px;
	padding-top: 20px;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -2px;
	text-align: right;
	color: grey;
}

.admin {
	text-align: right;
}

h2 {
	font-weight: normal;
	color: #200080;
	margin-left: -20px;
}

h3 {
	font-weight: normal;
	font-size: 24px;
	color: #212121;
	padding: 4px;
}

h3 a {
	text-decoration: none;
	color: inherit;
}

h3 a:hover {
	text-decoration: underline;
	color: inherit;
}

h4 {
	font-weight: bold;
}

h4 a {
	text-decoration: none;
	color: inherit;
}

.site-title {
	display: flex;
	align-items: center;
	text-decoration: none;
}

a.site-title:hover {
	text-decoration: none;
}

img.face {
	float: right;
	margin-top: -3em;
}

.entry {
	margin-bottom: 2em;
}

.entry .date {
	color: grey;
}

.entry .date a {
	text-decoration: none;
	color: inherit;
}

.sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-top: 20px;
	padding-left: 0px;
	font-size: 85%;
}

.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	color: black;
	padding-left: 5px;
	margin-left: 0px;
}

.sidebar ul {
	padding-left: 1em;
	margin-left: 0px;
	list-style-type: none;
}

.sidebar ul li {
	display: flex;
	align-items: center;
}

.sidebar ul li:hover {
	color: grey;
}

.sidebar ul li a {
	text-decoration: none;
	padding-left: 0.5em;
}

.sidebar ul li a:hover {
	text-decoration: underline;
}

.sidebar ul li a img {
	border: 0;
	height: 20px;
	widht: 20px;
}

.sidebar p {
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 5px;
}

.sidebar .message {
	cursor: help;
}

.sidebar a.message:hover {
	cursor: help;
	background-color: #ff0000;
	color: #ffffff !important;
	text-decoration: none !important;
}

.entry a {
	text-decoration: none;
	color: blue !important;
}

.entry a:hover {
	text-decoration: underline !important;
	color: blue !important;
}

.entry img {
	max-width: 100%;
}


.channelgroup h3 {
	font-size: 24px;
	color: white;
	background-color: #1976d2;
}

.entry h3 {
	font-weight: normal;
	font-size: 24px;
	color: #212121;
	padding: 4px;
	background-color: white;
}
